@import '_variables';

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $fg-color;
    border-radius: 10px;
    input {
        display: block;
        height: 40px;
        color: $fg-color;
        background: $secondary-color;
    }
    textarea {
        font-family: Courier, typewriter;
    }
}
