@import '_variables';

main {
    display: flex;
    flex-direction: column;
    
    .queryResults {
        margin: 20px;

        h2 {
            font-size: 1.5em;
            font-style: italic;
            color: $theme-color;
            margin: 15px;
        }

        h3 {
            font-size: 1.2em;
            font-style: bold;
            margin: 15px; 
        }
        
        p {
            margin: 20px;
        }
        
        strong {
            font-style: none;
            background-color: $theme-color;
            padding: 3px 3px 0 0;
            text-transform: capitalize;
        }
    }
}
